// Typography is defined here

@font-face
    font-family: 'Titillium Regular'
    src: url('../fonts/Titillium-Regular.otf')
@font-face
    font-family: 'Titillium Bold'
    src: url('../fonts/Titillium-Bold.otf')

*
    padding: 0
    margin: 0
    position: relative
    // allowing the elements to have percentage widths inclusive of their padding.
    // This means we can set two elements next to each other of 50% width,
    // then adjust the padding in each one as much we like without breaking the layout.
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    -ms-box-sizing: border-box
    box-sizing: border-box

html, body
    display: table
    height: 100%
    width: 100%
    font-family: $font-family
    font-size: $font-size
    line-height: $line-height
    color: $black
    background-color: $white

.redfont
    color: $red

.blackfont
    color: $black

.whitefont
    color: $white

.greyfont
    color: $darkgrey

h1, h2, h3
    font-family: "Titillium Bold", sans-serif

h1
    font-size: $font-size*4
    line-height: 1

h2
    font-size: $font-size*2

h3
    font-size: $font-size
    text-transform: uppercase

.wrapper
    height: auto

header, footer
    height: $sectionheight
    width: 100%
    margin: auto
    padding: 0 50px

header
    display: flex
    align-items: center
    justify-content: space-around
    background-color: $white
    position: fixed
    top: 0
    box-shadow: 0 5px 15px $black
    z-index: 500

.logoc
    background: url(../img/HireTest-sprite.png) no-repeat
    background-position: -200px 0
    width: 152px
    height: 36px

.hdrdropdown
    display: flex

.dropdown-content
    background-color: $red
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2)
    color: $white
    display: none
    min-width:  160px
    position: absolute
    top: 36px
    z-index: 999
    a
        display: block
        padding: 12px 16px
        text-decoration: none
        color: $white
        &:hover
            background-color: $lightgrey
            color: $red

.dropdown
    background: url(../img/HireTest-sprite.png) no-repeat
    background-position: 0 0
    height: 36px
    width: 36px

.dropbtn
    background-color: $red
    color: $white
    height: 36px
    width: 166px
    margin-left: 1px
    text-transform: uppercase
    text-align: center
    padding-top: 10px

.navigation
    overflow: hidden
    text-transform: uppercase
    a
        text-decoration: none
        float: left
        &:hover, &.current
            text-decoration: underline

.navdark
    display: flex
    justify-content: space-between
    width: 180px
    a
        color: $black
        &:hover, &.current
            color: $red

.navlight
    display: flex
    margin: 0 auto
    justify-content: space-between
    a
        color: $white

.hdrinfo
    display: flex

.hdrtel
    background: url(../img/HireTest-sprite.png) no-repeat
    background-position: 6px -94px
    background-color: $grey
    border: 1px solid $darkgrey
    width: 35px
    height: 35px
    float: left
    margin-right: 10px

.flag
    background: url(../img/HireTest-sprite.png) no-repeat
    background-position: 0 -200px
    width: 24px
    height: 24px
    float: left

footer
    background-color: $darkgrey
    display: table-row

.footer
    color: $white
    display: flex
    justify-content: center
    width: 100%
    padding: 30px
    border-bottom: 2px solid $red
    & > div
        margin: 0 auto

.logow
    background: url(../img/HireTest-sprite.png) no-repeat
    background-position: -200px -100px
    width: 152px
    height: 36px
    padding: 0 $padding

.copyright
    text-transform: uppercase
    font-size: 9px
    line-height: 2

.redbtn
    background: $red
    color: $white
    border: 0
    padding: $padding/3 $padding
    &:hover
        box-shadow: 0 0 15px 0 $black

.greybtn
    background: $grey
    color: $white
    border: 0
    padding: $padding/3 $padding
    &:hover
        box-shadow: 0 0 15px 0 $black

.ctabtn
    background: $red
    color: $white
    text-transform: uppercase
    border: 0
    padding: $padding/3 2*$padding
    &:hover
        box-shadow: 0 0 15px 0 $black
