// Other elements go here

.content
    padding-top: $sectionheight // equal to the height of the header

section
    border-bottom: 3px solid $red // all sections should have a red bottom border

.section0
    background: url("../img/page-1/01-slider-image.jpg") no-repeat

.slider-wrapper
    background: rgba(255, 255, 255, 0.5) // for browsers that do not support gradients
    background: linear-gradient(to right, $white, rgba(255,255,255,0))
    position: relative
    //width: 50%
    max-width: 600px
    left: 50%

.slider-overflow
    overflow: hidden

.slide
    padding: $padding 0 $padding $padding
    max-width: 80%
    h1
        max-width: 80%
    p
        max-width: 80%
    button
        margin-top: $padding

.section1, .section2
    display: flex
    justify-content: center
    align-items: center
    h1, div
        width: 50%
    a
        color: $red
    p
        padding-top: $padding

.section1
    img
        padding: 2*$padding 2*$padding $padding 2*$padding // uneven beacuse of the image shadow
        float: right

.section2
    background-color: $lightgrey
    overflow: hidden
    & > div:nth-child(1)
        display: flex
        justify-content: flex-end

.section3
    background-image: url("../img/page-1/04-image.jpg")
    text-align: center
    color: $white
    img
        border: 0
    div
        margin: 0 auto
        width:  30%
    button
        color: $red
        background-color: $white
        border: none
        width: 166px
        height: 36px
        margin: $padding 0 2*$padding 0
        &:hover
            box-shadow: 0 0 15px 0 $black

.section3logo
    background: url(../img/HireTest-sprite.png) no-repeat
    background-position: -170px -170px
    width: 160px !important
    height: 160px

.section4
    border: 0
    height: 200px
    //width: 50%
    padding: $padding 10%
    & > h1
        margin: 0
    & > p
        color: $grey
        padding-left: 2*$padding

.page2img
    background: url("../img/page-2/01-header-image.jpg") no-repeat
    width: 100%
    height: 300px

.textures
    display: flex
    justify-content: space-around
    & > div
        display: flex
        flex-direction: column
#map
    width: 100%
    height: 490px
    background-color: $grey

.section5
    background: linear-gradient(to bottom, $white, rgba(255, 255, 255, 0))
    border: 0
    padding: $padding 0 0 10%
    height: 250px
    position: absolute
    top: 0
    width: 100%
    & > h1
        margin: 0
    & > p
        color: $grey

.maptable
    width: 50%
    margin: auto

.mapbtns
    display: flex
    margin: $padding 0
    & > div:nth-child(1)
        margin-right: $padding

.mapbtm
    text-align: center
    margin: 2*$padding 0
    & > button
        margin-top: $padding
